# Загальні файли та директорії, які не повинні бути в Git

# Змінні середовища - містять конфіденційні дані (токен бота)
.env
token.txt # Якщо цей файл також використовується для зберігання токена

# Згенеровані файли даних
results.xlsx
layered_semi_circular_progress.png # Ігноруємо конкретний згенерований PNG
# Якщо у вас є інші PNG, які є статичними ресурсами і ви хочете їх включити в репозиторій,
# не використовуйте *.png. Додайте кожен згенерований PNG окремо.

# Файли з даними, які можуть змінюватися і не є частиною коду (якщо ви не хочете їх версіонувати)

# Папки для віртуальних середовищ Python
venv/
.venv/
env/
/bin/
/include/
/lib/
/share/

# Файли кешу Python
__pycache__/
*.pyc

# Директорії та файли IDE (наприклад, PyCharm, IntelliJ IDEA)
.idea/

# Файли операційної системи
.DS_Store # macOS
Thumbs.db # Windows